.page-error {
    height: 100%;
    padding-right: 10px;
    position: relative;
    overflow: hidden;
    background-color: #fff;

    .page-error-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        text-align: center;

        .error-code {
            padding-top: 100px;
            line-height: 1;
            font-size: 250px;
            font-weight: bolder;
            color: #2d8cf0;

            .icon-lock-fill {
                font-size: 250px;
            }

            span {
                color: #00a854;
            }
        }

        .error-desc {
            font-size: 30px;
            color: #777;
        }

        .error-handle {
            margin-top: 30px;
            padding-bottom: 100px;
        }
    }
}
